station1 : FT/T1 :
station2 : FT/T2 :
station3 : FT/T3 :
all_Stations : FT/T. :
allT_allL : FT/T.*Layer(X1|U|V|X2).Side :
backlayer_T1 : FT/T1/Layer(V|X2) :
backlayer_T2 : FT/T2/Layer(V|X2) :
backlayer_T3 : FT/T3/Layer(V|X2) :
frontlayer_T1 : FT/T1/Layer(X1|U) :
frontlayer_T2 : FT/T2/Layer(X1|U) :
frontlayer_T3 : FT/T3/Layer(X1|U) :
